* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: cornsilk;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 550px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.topBar {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.icons {
  color: #ddd;
}

.icons:not(:last-of-type) {
  margin-left: 15px;
}


.secondaryBar {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
}

.secondaryBar .burgerAndHeading {
  display: flex;
  align-items: center;
}

.secondaryBar h3 {
  margin-left: 20px;
  margin-left: 15px;
}

.input-group input {
  padding: 15px 15px 15px 0;
  border: none;
  width: 100%;
  text-align: right;
  font-size: 40px;
}


.input-group input:focus {
  border: none;
}

.input-group .cacl1 {
  padding: 3px 8px;
  font-size: 21px
}

.burger .line {
  width: 25px;
  height: 1px;
  margin: 4px 0;
  background-color: #333;
}

.numberAndOptions {
  background-color: #f2f1ed;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  align-items: center;
}

.numberAndOptions div {
  font-size: 15px;
  padding: 15px 0;
}

.numberAndOptions div.number {
  font-size: 18px;
  font-weight: bold;
}

.numberAndOptions div:hover {
  background-color: #e2e2de;

}

.numberAndOptions div {
  cursor: pointer;
}